<section class="apresentacao">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <br />
        <h1 class="tema">Clean Code</h1>
        <h3>Escrevendo código para seres humanos</h3>
        <br /><br />
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1">
            <%=image_tag "palestrantes/rodrigo_rosa.jpg", title: "Rodrigo Rosa", alt: "Rodrigo Rosa", class: "img-responsive img-circle" %>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            <br />
            <p>Palestra com:</p>
            <h4>Rodrigo Rosa <small>(<a href="https://twitter.com/rodrigorosa" target="_blank">@rodrigorosa</a>)</small></h4>
            <p>Computer scientist, software developer, guitar apprentice and soccer n' music addicted!</p>
          </div>
        </div>

        <br />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <br /><br />
        <%=image_tag "clean-code/clean_code.png", title: "Clean Code", alt: "Clean Code", class: "img-responsive img-clean-code" %>
      </div>
    </div>
  </div>
</section>
<section class="infos">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <i class="glyphicon glyphicon-map-marker"></i> <span>FAE - Erechim</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <i class="glyphicon glyphicon-calendar"></i> <span>11 de abril de 2015</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <i class="glyphicon glyphicon-time"></i> <span>09h00</span>
      </div>
    </div>
  </div>
</section>

<% if @evento.encerrado? %>
  <%= render partial: 'encerrado', locals: {evento: @evento, materiais: [['Slides', 'http://diadetreinamento.com.br/materiais/Dia de Treinamento - Clean Code.pdf']]} %>
<% else %>
  <%= render partial: 'inscricao', locals: {evento: @evento} %>
<% end %>

<section class="organizadores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-1">
        <h5>Apoio:</h5>
        <a href="http://www.faers.com.br/" target="_blank">
          <%=image_tag "logo-fae.png", title: "Clean Code", alt: "Clean Code", class: "img-responsive logo" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5>Promovido por:</h5>
        <a href="http://www.inocode.com.br/" target="_blank">
          <%=image_tag "inocode.png", title: "Clean Code", alt: "Clean Code", class: "img-responsive logo" %>
        </a>
        <a href="http://www.wonder.com.br/" target="_blank">
          <%=image_tag "wonder.png", title: "Clean Code", alt: "Clean Code", class: "img-responsive logo", style: "width: 220px" %>
        </a>
      </div>
    </div>
  </div>
</section>