<section class="apresentacao">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br><br><br>
        <h1>Desenvolvimento de aplicativos multiplataforma utilizando HTML5 + NodeJS para Desktop</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 text-center">
        <br><br><br><br>

        <div class="row">
          <div class="col-xs-5 col-xs-offset-1">
            <%=image_tag "palestrantes/ederson_szlachta.jpg", title: "Éderson Szlachta", alt: "Éderson Szlachta", class: "img-responsive img-circle" %>
          </div>
          <div class="col-xs-6 text-left">
            <br>
            <p>Palestra com:</p>
            <h4>Éderson Szlachta</h4>
            <p>Graduado em Tecnólogo em Análise e Desenvolvimento de Sistemas - FAE Faculdade Anglicana de Erechim. Desenvolvedor na Byll Agência Web, organizador e palestrante do TecLand.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 text-center">
        <br /><br />
        <%=image_tag "html5_no_desktop/icon-node-webkit.png", title: "HTML5 no Desktop", alt: "HTML5 no Desktop", class: "img-responsive img-clean-code" %>
      </div>
    </div>
    <br>
  </div>
</section>

<section class="infos">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <i class="glyphicon glyphicon-map-marker"></i> <span>SENAC - Erechim</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <i class="glyphicon glyphicon-calendar"></i> <span>17 de outubro de 2015</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <i class="glyphicon glyphicon-time"></i> <span>09h00</span>
      </div>
    </div>
  </div>
</section>

<% if @evento.encerrado? %>
  <%= render partial: 'encerrado', locals: {evento: @evento} %>
<% else %>
  <%= render partial: 'inscricao', locals: {evento: @evento} %>
<% end %>

<%= render partial: 'redes_sociais' %>

<section class="organizadores">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1">
        <h5>Apoio:</h5>
        <a href="http://www.faers.com.br" target="_blank">
          <%=image_tag "logo-fae.png", title: "FAE", alt: "FAE", class: "img-responsive logo" %>
        </a>
        <a href="http://www.uricer.edu.br" target="_blank">
          <%=image_tag "uri-erechim.jpg", title: "URI - Campus Erechim", alt: "URI - Campus Erechim", class: "img-responsive logo", style: "height: 30px" %>
        </a>
        <a href="http://portal.senacrs.com.br/unidades.asp?unidade=38" target="_blank">
          <%=image_tag "senac.jpg", title: "Senac RS Erechim", alt: "Senac RS Erechim", class: "img-responsive logo" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <h5>Patrocínio:</h5>
        <a href="http://www.inocode.com.br" target="_blank">
          <%=image_tag "inocode.png", title: "Inocode - Soluções em outsourcing", alt: "Inocode - Soluções em outsourcing", class: "img-responsive logo", style:"max-height: 400px; height: 60px" %>
        </a>
        <a href="http://www.wonder.com.br" target="_blank">
          <%=image_tag "wonder.jpg", title: "Wonder Sistemas", alt: "Wonder Sistemas", class: "img-responsive logo" %>
        </a>
        <br><br>
        <a href="http://www.astrusweb.com" target="_blank">
          <%=image_tag "astrusweb.png", title: "AstrusWeb", alt: "AstrusWeb", class: "img-responsive logo", style:"max-height: 400px; height: 70px" %>
        </a>
        <a href="http://www.byll.com.br" target="_blank">
          <%=image_tag "byll.png", title: "Byll 256", alt: "Byll 256", class: "img-responsive logo", style:"max-height: 400px; height: 60px" %>
        </a>
        <a href="http://www.compasso.com.br" target="_blank">
          <%=image_tag "compasso.jpg", title: "Compasso Tecnologia", alt: "Compasso Tecnologia", class: "img-responsive logo", style:"max-height: 400px; height: 90px" %>
        </a>
      </div>
    </div>
  </div>
</section>